/* @media screen and (max-width: 100px) {
  .Logo {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    position: fixed;
  }
} */

.ContactsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContactListItem {
  margin: 5px 0;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.Delete {
  margin-left: 10px;
}

.Title {
  text-align: center;
}

.NameNumber {
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 360px) {
  .Logo {
    z-index: -1;
    position: absolute;
    bottom: 0%;
    left: -295px;
    position: fixed;
  }
}

@media screen and (min-width: 1020px) {
  .Logo {
    bottom: 0;
    left: 0;
  }
}

/* .Logo {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  position: fixed;
} */

/* @media screen and (max-width: 360px) {
  .Logo {
    bottom: 0;
    left: -295px;
  }
} */
